@use "_designSystem.scss" as *;
@use "_responsive.scss" as *;

.hero-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("assets/heroSustainability.png");
}

.recycled-materials-section {
  .mini-para:first-child {
    margin-bottom: 3rem;
  }
}

.fabric-section {
  .left {
    background-image: url("assets/materialTexture.png");
    border-radius: 8px;
    overflow: hidden;
    height: 26rem;
    position: relative;
    color: $bunyo-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    @include for-size(tablet-portrait) {
      height: unset;
    }
    .icon {
      width: 1.5rem;
    }
    .made-with-text {
      .super {
        @extend .text-2xl;
      }
      .main {
        @extend .text-5xl;
        line-height: 1.1;
        .highlight {
          color: $sustainability-green;
        }
      }
    }
    .foot-note {
      @extend .text-md;
      margin-top: 1rem;
      @include for-size(small-desktop) {
        padding-right: 0;
      }
    }
  }
  .right {
    .video-wrapper {
      border-radius: 8px;
      overflow: hidden;
      height: 26rem;
    }
    video {
      height: 100%;
    }
    .para {
      padding-right: 5.4rem;
      @include for-size(tablet-landscape) {
        padding-right: unset;
      }
    }
    .stat {
      .icon {
        max-width: 54px;
      }
      .number {
        @extend .text-6xl;
      }
      .mini-para-title {
        margin-bottom: 0.5rem;
      }
      .mini-para-description {
        @extend .text-md;
      }
    }
  }
}

.video-break {
  height: 30rem;
  overflow: hidden;
  position: relative;
  color: $bunyo-white;
  .break-text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.sustainability-services {
  .service {
    margin-bottom: 8rem;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
  .service-image {
    max-height: 7rem;
  }
  .service-headline {
    @extend .text-4xl;
  }
  .service-description {
    color: $gray-600;
  }
}
